<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="text-gray-800">
<p class="text-white">Navengacion</p>
<main class="container mx-auto w-4/5 ">{% block content %}{% endblock content %}</main>
<p class="text-white">Footer </p>
<script src="index.js"></script>
</body>
</html>